## **Latihan Collaborative Filtering**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Dengan menggunakan dataset anime & rating, buatlah recommendation system dengan skema berikut:**

* Gabungkan kedua data agar dapat memunculkan informasi-informasi yang ada pada dataset anime.
* Bandingkan algoritma SVD dan ALS
* Tuning algoritma yang menurut kalian lebih baik

Setelah mendapatkan model terbaik, coba prediksi rating anime berikut:

* Hunter x Hunter (2011), anime_id 11061
* Detective Conan OVA 09, anime_id 2514
* Ranma ½, anime_id 1010
* Saint Seiya: Meiou Hades Juuni Kyuu-hen, anime_id 1257

Oleh user:

* 50
* 200
* 400
* 800

Bagaimana urutan rekomendasi yang akan kalian berikan untuk masing-masing user?

## **Import libraries**

* http://surpriselib.com/
* https://surprise.readthedocs.io/en/stable/

In [ ]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 5.3 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633967 sha256=6d381382c00c4e73ccf3018b37c44bb3bfba3a234fcc3e94fcb21d06546e884d
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

# Dataset formatting
from surprise import Reader
from surprise import Dataset

from surprise import SVD            # SVD
from surprise import BaselineOnly   # ALS

from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split
from surprise.model_selection import GridSearchCV

## **Load dataset & preprocessing**

In [ ]:
df_rating = pd.read_csv('/content/drive/MyDrive/JCDSVL-04, 06, 07, JCDSAHLS-01 Practice Session/Modul 3/Week 10/Wednesday, October 26, 2022/rating.csv')
df_rating

       Unnamed: 0  user_id  anime_id  rating
0              47        1      8074    10.0
1              81        1     11617    10.0
2              83        1     11757    10.0
3             101        1     15451    10.0
4             153        2     11771    10.0
...           ...      ...       ...     ...
77863       96433      999     11757     6.0
77864       96434      999     16498     9.0
77865       96435      999     21881     5.0
77866       96436      999     22319     8.0
77867       96437      999     27899     7.0

[77868 rows x 4 columns]

In [ ]:
# Drop kolom yang tidak berguna
df_rating = df_rating.drop(columns='Unnamed: 0', axis=1)
df_rating.head(10)

   user_id  anime_id  rating
0        1      8074    10.0
1        1     11617    10.0
2        1     11757    10.0
3        1     15451    10.0
4        2     11771    10.0
5        3        20     8.0
6        3       154     6.0
7        3       170     9.0
8        3       199    10.0
9        3       225     9.0

In [ ]:
df_anime = pd.read_csv('/content/drive/MyDrive/JCDSVL-04, 06, 07, JCDSAHLS-01 Practice Session/Modul 3/Week 10/Tuesday, October 25, 2022/anime.csv')
df_anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [ ]:
# Menggabungkan df_rating dan df_anime --> Left join pada kolom anime_id
df_merged = pd.merge(df_rating, df_anime, how='left', on=['anime_id'])
df_merged

,user_id,anime_id,rating_x,name,genre,type,episodes,rating_y,members
0,1,8074,10.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural",TV,12,7.46,535892
1,1,11617,10.0,High School DxD,"Comedy, Demons, Ecchi, Harem, Romance, School",TV,12,7.70,398660
2,1,11757,10.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance",TV,25,7.83,893100
3,1,15451,10.0,High School DxD New,"Action, Comedy, Demons, Ecchi, Harem, Romance,...",TV,12,7.87,266657
4,2,11771,10.0,Kuroko no Basket,"Comedy, School, Shounen, Sports",TV,25,8.46,338315
...,...,...,...,...,...,...,...,...,...
77863,999,11757,6.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance",TV,25,7.83,893100
77864,999,16498,9.0,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.54,896229
77865,999,21881,5.0,Sword Art Online II,"Action, Adventure, Fantasy, Game, Romance",TV,24,7.35,537892
77866,999,22319,8.0,Tokyo Ghoul,"Action, Drama, Horror, Mystery, Psychological,...",TV,12,8.07,618056
77867,999,27899,7.0,Tokyo Ghoul √A,"Action, Drama, Horror, Mystery, Psychological,...",TV,12,7.52,408357

In [ ]:
# Drop kolom yang tidak digunakan
df_merged = df_merged.drop(columns=['type', 'episodes', 'rating_y', 'members'], axis=1)

# Ganti nama kolom 'rating_x' menjadi 'user_rating'
df_merged = df_merged.rename(columns={'rating_x':'user_rating'})
df_merged

,user_id,anime_id,user_rating,name,genre
0,1,8074,10.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural"
1,1,11617,10.0,High School DxD,"Comedy, Demons, Ecchi, Harem, Romance, School"
2,1,11757,10.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance"
3,1,15451,10.0,High School DxD New,"Action, Comedy, Demons, Ecchi, Harem, Romance,..."
4,2,11771,10.0,Kuroko no Basket,"Comedy, School, Shounen, Sports"
...,...,...,...,...,...
77863,999,11757,6.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance"
77864,999,16498,9.0,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power"
77865,999,21881,5.0,Sword Art Online II,"Action, Adventure, Fantasy, Game, Romance"
77866,999,22319,8.0,Tokyo Ghoul,"Action, Drama, Horror, Mystery, Psychological,..."
77867,999,27899,7.0,Tokyo Ghoul √A,"Action, Drama, Horror, Mystery, Psychological,..."

In [ ]:
df_merged.describe()
# rating dari 1-10

            user_id      anime_id   user_rating
count  77868.000000  77868.000000  77868.000000
mean     517.812786  10721.879116      7.855268
std      278.020509   9033.079184      1.538070
min        1.000000      1.000000      1.000000
25%      288.000000   2273.000000      7.000000
50%      529.000000   9513.000000      8.000000
75%      753.000000  16592.000000      9.000000
max      999.000000  34240.000000     10.000000

In [ ]:
# Pivot table menjadi sparse matrix
user_item_rating_matrix = df_merged.pivot_table(values='user_rating', index ='user_id', columns ='anime_id')
user_item_rating_matrix

anime_id,1,5,6,7,8,15,16,17,18,19,...,33338,33341,33372,33421,33524,33558,33569,33964,34103,34240
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,8.0,NaN,NaN,6.0,NaN,6.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

User-Item matrix with rating terdiri dari 940 user dan 4510 anime

## **Modeling**

In [ ]:
reader = Reader(rating_scale=(1, 10))

data = Dataset.load_from_df(df_merged[['user_id', 'anime_id', 'user_rating']], reader)
data

## **Validation**

In [ ]:
trainset, testset = train_test_split(data, test_size=0.2, random_state=1)

### **SVD**

In [ ]:
algo_svd = SVD()

algo_svd.fit(trainset)
prediction_svd = algo_svd.test(testset)

In [ ]:
accuracy.rmse(prediction_svd)

RMSE: 1.2055

1.2054769057226464

### **ALS**

In [ ]:
bsl_options = {'method': 'als',
               'n_epochs': 10,
               'reg_u': 15,
               'reg_i': 10
               }

algo_als = BaselineOnly(bsl_options=bsl_options)

algo_als.fit(trainset)
prediction_als = algo_als.test(testset)

Estimating biases using als...

In [ ]:
accuracy.rmse(prediction_als)

RMSE: 1.2128

1.2127696615627046

## **Cross Validation**

### **SVD**

In [ ]:
cv_svd = cross_validate(algo_svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.1967  1.2074  1.1909  1.2128  1.2214  1.2058  0.0110
MAE (testset)     0.9097  0.9130  0.9028  0.9206  0.9306  0.9153  0.0095
Fit time          3.92    6.77    3.98    3.89    3.92    4.50    1.14
Test time         0.12    0.40    0.11    0.11    0.22    0.19    0.11

In [ ]:
print('RMSE cv mean', cv_svd['test_rmse'].mean())

RMSE cv mean 1.2058402680844675

### **ALS**

In [ ]:
cv_als = cross_validate(algo_als, data, measures=['RMSE','MAE'], cv=5, verbose=True)

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Evaluating RMSE, MAE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.2120  1.2163  1.2082  1.2110  1.2155  1.2126  0.0030
MAE (testset)     0.9299  0.9247  0.9178  0.9238  0.9254  0.9243  0.0039
Fit time          0.30    0.33    0.34    0.36    0.35    0.34    0.02
Test time         0.07    0.09    0.20    0.09    0.08    0.11    0.05

In [ ]:
print('RMSE cv mean', cv_als['test_rmse'].mean())

RMSE cv mean 1.212596076999343

## **Hyperparameter tuning**

In [ ]:
# Tuning SVD
hyperparam_space = {
    'n_epochs':[5, 10, 20, 30],     # jumlah iterasi
    'lr_all':[0.002, 0.005],        # learning rate
    'reg_all':[0.02, 0.4, 0.6]      # regularization
}

grid_search = GridSearchCV(SVD, hyperparam_space, measures=['rmse', 'mae'], cv=5)

grid_search.fit(data)

In [ ]:
print('RMSE')
print(grid_search.best_score['rmse'])
print(grid_search.best_params['rmse'])

print('\nMAE')
print(grid_search.best_score['mae'])
print(grid_search.best_params['mae'])

RMSE
1.205612856820332
{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.02}

MAE
0.9147838755242823
{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.02}

In [ ]:
# Contoh tuning metode ALS
# param_grid = {'bsl_options': {'method': ['als'],
#                               'n_epochs': [5,10,15],
#                               'reg_u': [12, 18, 27],
#                               'reg_i': [5,50,100]}
#               }

# gs = GridSearchCV(BaselineOnly, param_grid, measures=['rmse', 'mae'], cv=3)

# gs.fit(data)

## **Model with Hyperparameter Tuning**

In [ ]:
svd_tuned = SVD(n_epochs = 20, lr_all = 0.005, reg_all = 0.02)
cv_svd_tuned = cross_validate(svd_tuned, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.2099  1.2029  1.2029  1.2036  1.2010  1.2040  0.0030
MAE (testset)     0.9132  0.9165  0.9153  0.9162  0.9094  0.9141  0.0026
Fit time          3.98    3.92    3.93    3.93    3.95    3.94    0.02
Test time         0.13    0.25    0.11    0.12    0.25    0.17    0.06

In [ ]:
# Perbandingan RMSE sebelum dan sesudah tuning
print('RMSE cv mean before tuning:', cv_svd['test_rmse'].mean())
print('RMSE cv mean after tuning:', cv_svd_tuned['test_rmse'].mean())

RMSE cv mean before tuning: 1.2058402680844675
RMSE cv mean after tuning: 1.2040470840776052

## **Prediction results**

* Hunter x Hunter (2011), anime_id 11061
* Detective Conan OVA 09, anime_id 2514
* Ranma ½, anime_id 1010
* Saint Seiya: Meiou Hades Juuni Kyuu-hen, anime_id 1257

In [ ]:
users = [50, 200, 400, 800]
anime_ids = [11061, 2514, 1010, 1257]
titles = ['Hunter x Hunter (2011)', 'Detective Conan OVA 09', 'Ranma ½', 'Saint Seiya: Meiou Hades Juuni Kyuu-hen']

# Dataframe kosong
df_test = pd.DataFrame(columns=['user_id', 'anime_id', 'title'], dtype='object')
df_test

# Mengisi dataframe dengan user_id dan anime_id beserta titlenya
for i in users:
    for j, k in zip(anime_ids, titles):
        df_test = df_test.append({'user_id':i, 'anime_id':j, 'title':k}, ignore_index=True)

df_test

   user_id anime_id                                    title
0       50    11061                   Hunter x Hunter (2011)
1       50     2514                   Detective Conan OVA 09
2       50     1010                                  Ranma ½
3       50     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen
4      200    11061                   Hunter x Hunter (2011)
5      200     2514                   Detective Conan OVA 09
6      200     1010                                  Ranma ½
7      200     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen
8      400    11061                   Hunter x Hunter (2011)
9      400     2514                   Detective Conan OVA 09
10     400     1010                                  Ranma ½
11     400     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen
12     800    11061                   Hunter x Hunter (2011)
13     800     2514                   Detective Conan OVA 09
14     800     1010                                  Ranma ½
15     800     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen

In [ ]:
# define model
svd_predict = SVD(n_epochs=20, lr_all=0.005, reg_all=0.02)

# fitting
svd_predict.fit(trainset)

# untuk menyimpan predicted score
y = []

# Melakukan prediksi pada tiap baris
for index, row in df_test.iterrows():
    est = svd_predict.predict(row['user_id'], row['anime_id'])
    y.append(est[3])

df_test['predicted_rating'] = y

df_test.sort_values(by=['user_id', 'predicted_rating'], ascending=[True, False], inplace=True)
df_test

   user_id anime_id                                    title  predicted_rating
0       50    11061                   Hunter x Hunter (2011)          9.722685
3       50     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          8.212674
2       50     1010                                  Ranma ½          8.023918
1       50     2514                   Detective Conan OVA 09          7.663447
4      200    11061                   Hunter x Hunter (2011)         10.000000
7      200     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          9.069603
6      200     1010                                  Ranma ½          8.751784
5      200     2514                   Detective Conan OVA 09          8.678579
8      400    11061                   Hunter x Hunter (2011)          8.689244
11     400     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          6.354356
10     400     1010                                  Ranma ½          6.349191
9      400     2514                   Detective Conan OVA 09          6.135160
12     800    11061                   Hunter x Hunter (2011)          9.891175
14     800     1010                                  Ranma ½          8.259108
13     800     2514                   Detective Conan OVA 09          7.968935
15     800     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          7.938866

In [ ]:
est

Prediction(uid=800, iid=1257, r_ui=None, est=7.938865960263387, details={'was_impossible': False})

In [ ]:
df_test[df_test['user_id'] == 50]

  user_id anime_id                                    title  predicted_rating
0      50    11061                   Hunter x Hunter (2011)          9.722685
3      50     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          8.212674
2      50     1010                                  Ranma ½          8.023918
1      50     2514                   Detective Conan OVA 09          7.663447

In [ ]:
df_test[df_test['user_id'] == 200]

  user_id anime_id                                    title  predicted_rating
4     200    11061                   Hunter x Hunter (2011)         10.000000
7     200     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          9.069603
6     200     1010                                  Ranma ½          8.751784
5     200     2514                   Detective Conan OVA 09          8.678579

In [ ]:
df_test[df_test['user_id'] == 400]

   user_id anime_id                                    title  predicted_rating
8      400    11061                   Hunter x Hunter (2011)          8.689244
11     400     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          6.354356
10     400     1010                                  Ranma ½          6.349191
9      400     2514                   Detective Conan OVA 09          6.135160

In [ ]:
df_test[df_test['user_id'] == 800]

   user_id anime_id                                    title  predicted_rating
12     800    11061                   Hunter x Hunter (2011)          9.891175
14     800     1010                                  Ranma ½          8.259108
13     800     2514                   Detective Conan OVA 09          7.968935
15     800     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          7.938866

## **Coba lihat rekomendasi anime untuk seorang user**

In [ ]:
df_merged[df_merged['user_id']==1]

,user_id,anime_id,user_rating,name,genre
0,1,8074,10.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural"
1,1,11617,10.0,High School DxD,"Comedy, Demons, Ecchi, Harem, Romance, School"
2,1,11757,10.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance"
3,1,15451,10.0,High School DxD New,"Action, Comedy, Demons, Ecchi, Harem, Romance,..."

In [ ]:
df_merged['anime_id'].nunique()

4510

In [ ]:
# cek score untuk masing-masing anime berdasarkan user
user_id = 1

# anime_id dan name yg tidak ada duplikat (unique)
anime = list(df_merged['anime_id'].unique())
name = list(df_merged['name'].unique())

In [ ]:
svd_predict = SVD(n_epochs=20, lr_all=0.005, reg_all=0.02)
svd_predict.fit(trainset)

# prediksi score untuk seluruh anime berdasarkan user1
anime_score = [svd_predict.predict(user_id, anime_id).est for anime_id in anime]
anime_score

[9.506169485809929,
 9.301126094068161,
 9.599297492835074,
 9.46106101800944,
 9.288912703856187,
 8.642496695530218,
 8.150787411167004,
 9.442175072492201,
 9.466280766302313,
 7.381592411616245,
 8.578186931630489,
 8.106137449746297,
 8.490287689791765,
 8.798881770598697,
 9.405417322615559,
 8.155136772716256,
 7.698280403525725,
 8.137479161857096,
 7.474213128446633,
 7.690318306461544,
 8.129843510748447,
 8.254108149796393,
 9.357028873712803,
 7.719323786486716,
 8.901069480853742,
 8.307000399878087,
 8.863852102038342,
 7.661322018814286,
 7.2223520314405185,
 8.433873067382592,
 9.22950676277453,
 8.201448887777703,
 9.526755729860891,
 8.22838555630844,
 8.048313760832594,
 9.24854875760787,
 8.349081277264416,
 8.08542893551461,
 8.041589277006704,
 8.670188168212206,
 8.566412574228965,
 7.847369746943322,
 8.845264897982382,
 9.542626169717805,
 8.88691862892219,
 8.393624472337235,
 8.745209851251346,
 7.648368717684677,
 8.47583595093268,
 8.447801900723181,
 7.768957468078038,
 9.312708447607175,
 8.12134969707544,
 8.673745538185406,
 8.80741080261118,
 9.537251485810636,
 8.312728532298886,
 9.470054102425728,
 9.66366725040676,
 9.25018623760195,
 9.264129050385884,
 8.04469130020356,
 9.42223487675214,
 8.209483324826943,
 5.795788065485847,
 9.695717262750486,
 8.261355089871598,
 8.722067862578001,
 8.98947749584568,
 9.37141205425921,
 7.355477080940437,
 8.128980147423105,
 9.15017525631009,
 9.574472500120512,
 9.125474782459097,
 6.847573582256475,
 8.761285230402605,
 8.122979071419005,
 8.638231224237039,
 7.3340242950429575,
 9.256321779618933,
 9.49424966415588,
 8.683318502471373,
 8.61239129285444,
 9.036793584045085,
 8.77667045914818,
 9.597198132844555,
 9.165732173335332,
 8.71715302537544,
 9.42508309891132,
 9.835642665761469,
 8.66867098397991,
 8.997891837873544,
 9.090871240515495,
 8.834216578661689,
 8.79684288417773,
 8.8199214098238,
 8.674170146833605,
 8.893055853822155,
 9.146830845715881,
 8.482457734299055,
 9.315955516298358,
 9.030294829193748,
 9.401345362091575,
 7.169634306472477,
 7.93982529513467,
 8.242438420263081,
 8.709716864269287,
 9.076701708313555,
 8.620280675951545,
 8.690353522521415,
 8.95352186545849,
 8.707817153712275,
 8.510986001957935,
 8.656344447345761,
 7.751525150879585,
 8.899713126778948,
 8.680381984443933,
 7.838961986746092,
 8.186994937384563,
 8.09633473991081,
 9.423547206918252,
 8.958953229973181,
 8.494361571948732,
 8.413358091394452,
 7.023748414965651,
 9.818246421999174,
 7.774377239567167,
 8.69002294422098,
 8.370332332267877,
 9.692923757416757,
 8.733321958997891,
 9.066826393141465,
 8.858951280324249,
 8.948487649284239,
 8.058710943871839,
 7.645961040681052,
 8.212292051347827,
 8.252721336410687,
 8.765154876006171,
 8.197940819715228,
 8.321795415877514,
 8.503263700340304,
 9.290405918428824,
 8.707153655469424,
 8.006800778966335,
 8.189646285463269,
 8.07828287060077,
 8.366534424429073,
 8.002428286394828,
 7.714654304084168,
 8.343098498176309,
 8.668731935380386,
 8.839959613368435,
 8.666315053739853,
 8.080967984794869,
 8.392597818226077,
 8.61345061667373,
 8.29539082967569,
 8.97503078186814,
 8.860098705186443,
 8.682339168287179,
 7.543291969167332,
 8.291622419051183,
 8.44040287196976,
 8.464129355004742,
 8.509445013269378,
 9.679828498644753,
 7.982997018446235,
 8.410992214491825,
 7.346137294855515,
 8.512005849691718,
 8.344168972334566,
 8.597673327433286,
 8.988874605456921,
 8.83130744406248,
 8.732579016313732,
 8.609486125940583,
 7.906089243952826,
 9.131583227501062,
 8.107567371085697,
 8.122834664445325,
 7.887941668829761,
 8.14025023871833,
 8.396948438953743,
 9.001632355063762,
 8.676863946811029,
 8.181232339253539,
 8.964126368633147,
 8.597392524513884,
 8.149835475706597,
 7.853285696377083,
 8.976069084137455,
 9.556494261065923,
 7.923893383660235,
 8.083745147831777,
 8.587959354897691,
 8.782631610955548,
 8.331037774040945,
 8.317295724027046,
 9.165885469734622,
 8.24536504470222,
 7.958147039596868,
 8.279908674793214,
 8.668358234326071,
 8.58312956880114,
 8.126302444532685,
 8.331715386685175,
 8.370430190263285,
 8.590508479931238,
 8.35038209977477,
 8.182183226215608,
 8.744899762457127,
 8.485656028959074,
 7.0182720505017855,
 8.98208561337304,
 8.160408385515733,
 9.020913289936031,
 8.433960281295619,
 8.457093047725923,
 8.639984982995635,
 8.201006263471252,
 8.417650037218078,
 8.163989510584297,
 8.199642254146378,
 8.951313835339338,
 8.213405606152374,
 8.310491566724714,
 8.076578970468203,
 8.446430299499342,
 8.176590684262322,
 7.737375319451381,
 7.655475784039037,
 7.83210506516268,
 9.004044393394917,
 8.51266128336735,
 8.933828763938982,
 9.582603561867755,
 8.44888036277698,
 7.72327007400912,
 8.355944511485728,
 8.158863848790263,
 8.984553174683331,
 9.30017022797082,
 8.506341504704881,
 8.272823791843559,
 7.4516279557511025,
 9.155160842816763,
 7.779886126412737,
 7.940923877654123,
 8.797557719201619,
 8.6180981993593,
 8.259923480896095,
 7.782184984743632,
 9.42799210628641,
 8.520806638371052,
 8.933024284842267,
 7.793288803043162,
 8.332059494319234,
 8.905192266218567,
 8.01546952323749,
 7.671100114875185,
 7.651966471108744,
 8.290103934271094,
 8.658319304262784,
 8.563023105215349,
 8.81707340424571,
 8.808353757820818,
 8.239136901187175,
 8.177178769819387,
 8.965050647456817,
 8.23621755537221,
 8.446822280005998,
 8.056875200071355,
 7.881015598472832,
 8.861922024776565,
 8.69410925135158,
 8.180290001604769,
 8.167578261215485,
 8.920373424443278,
 8.675132901671974,
 8.101145070936663,
 8.564981369253916,
 7.891347843732572,
 8.65557332691074,
 8.33239916118671,
 8.577558524422338,
 8.641211020719927,
 8.460018562624073,
 9.86171708892689,
 8.20369572054912,
 8.396766385966895,
 8.65656589217032,
 8.65400978009471,
 7.886191779753949,
 7.725009692211311,
 7.456500224894137,
 9.945739412674559,
 8.335033247611035,
 8.67202586444562,
 9.206116028439759,
 8.647413703165778,
 8.11628028889223,
 8.706312456761081,
 8.464345825126724,
 9.172641744148256,
 8.445130703309438,
 7.517999777184856,
 8.245120691800983,
 8.45886396990035,
 8.542352143427374,
 8.512114215713169,
 9.11932546695129,
 8.14753755159061,
 8.661599932329509,
 8.737918951103461,
 8.359016539488712,
 8.354489254112096,
 9.547910757869861,
 7.97397382748974,
 8.472687512724601,
 8.808416081412277,
 8.246086947958315,
 8.697197178272532,
 8.819518653944654,
 8.398609846260326,
 8.525043549585684,
 9.593104714712213,
 8.466547802694125,
 8.294466780184523,
 7.9251333858845205,
 8.421352763667905,
 9.150955172743304,
 8.406973728363532,
 8.962871785966348,
 9.022314739308566,
 8.872998610262949,
 8.972895157327251,
 8.4056983970016,
 8.83420820161743,
 8.27569911479132,
 8.260618144772689,
 8.157345862145766,
 8.352542190752029,
 8.272013998327187,
 8.446113878976794,
 8.23679665356839,
 7.940470044306989,
 8.618551004095874,
 8.108803908905962,
 7.708096998583762,
 8.751853067513197,
 8.388372786684387,
 8.760476002095388,
 7.948182599409944,
 9.11706321771244,
 9.330706679644459,
 8.915052165170138,
 8.168005495388414,
 8.26113768345418,
 7.450133572512747,
 8.40028157974206,
 8.84325924494402,
 8.599406673437748,
 8.475784778040959,
 8.764083953321968,
 8.286463640270673,
 9.425925416347155,
 8.8113575586388,
 7.991386877601631,
 8.952266472872667,
 8.945076943493058,
 9.357906011803122,
 8.86784465556257,
 8.352834088864363,
 8.372332061880666,
 9.93301508321121,
 8.306947871436584,
 9.704624399535982,
 8.283063884898615,
 6.6143047909232955,
 8.60313525323777,
 7.839445692819033,
 8.071251828197012,
 8.260024852452823,
 9.058979706552275,
 8.957369303753008,
 8.928898312660495,
 9.372052277681744,
 8.322605379813732,
 8.50653008224691,
 8.088565418931154,
 8.255520116154846,
 8.044366130241686,
 7.456049562868287,
 8.027691349824943,
 9.5277074589838,
 8.11098295705065,
 8.523216640866522,
 7.979087825191604,
 8.105131916849059,
 8.135427996358278,
 8.21379604789175,
 8.503099969735993,
 8.499183187376035,
 7.1302655855517205,
 7.811752269970671,
 8.391454915218299,
 8.777862908136663,
 8.180775391212268,
 7.809081196887369,
 7.867549668741675,
 8.54502099374703,
 8.77819697207303,
 8.761268617684273,
 8.336567496423527,
 7.702214218469896,
 8.516977471118846,
 8.199807757816545,
 8.542740703348551,
 8.426410452922896,
 8.624649130332065,
 8.130410651323835,
 9.299644165184866,
 8.69809638264569,
 7.603674513858356,
 8.985243979063412,
 8.127852005052901,
 8.287399199410062,
 8.66790477472844,
 9.195370026484591,
 8.42965416680858,
 8.369774108284137,
 9.304588505104185,
 7.007347771680983,
 7.964306761041789,
 8.447360783602955,
 8.756282885119022,
 7.684759720968308,
 8.060843272605148,
 8.225301122699786,
 8.53570394549169,
 8.462753053539656,
 7.6725898137370185,
 8.547765334504266,
 8.183599985541615,
 8.547894715455705,
 8.361250443295763,
 8.692944295666653,
 8.532359366770281,
 8.516610824164045,
 8.19418003796137,
 8.969848191446813,
 8.121087372598414,
 8.265690020103635,
 8.786838385797338,
 8.301433618667419,
 7.584940017939778,
 8.617604414845964,
 8.427317262317832,
 8.429231085528103,
 8.637700281730577,
 8.750891139836213,
 7.972294270808704,
 7.997987099769987,
 8.089821810365304,
 8.27077389692904,
 8.774522070591233,
 8.392597818226077,
 8.215111615736449,
 8.816138004933029,
 9.516296185237586,
 9.364060525658159,
 7.160577355604472,
 9.044188947079677,
 8.142460626121494,
 8.722270595993562,
 9.718125097178163,
 8.886300624578475,
 8.98461404637591,
 7.271844500177537,
 8.347418611425132,
 9.384286339372133,
 8.238615280220447,
 8.392597818226077,
 8.014456226858886,
 8.500129943483811,
 8.71327328144845,
 7.75127033814407,
 8.083276033685507,
 7.807047846835127,
 8.322699321194484,
 8.790878061771023,
 7.390131799749526,
 7.656380446165046,
 8.547988387799263,
 9.464886647820201,
 8.68436003257728,
 8.4119509350327,
 9.17169136323747,
 8.926264250260852,
 7.725768606406628,
 8.954114185879915,
 8.107332529009403,
 8.04497700300586,
 8.075388791140954,
 8.119154671856972,
 8.659909520840813,
 9.055966101477019,
 8.761221413428952,
 9.147305138732888,
 8.241620340721212,
 9.748641806435256,
 8.452644745167898,
 7.962258741904665,
 9.671956981073423,
 8.352682097913334,
 8.187990902948423,
 8.283708232014042,
 8.614272743730067,
 8.728768022307808,
 8.66183055418632,
 8.164408526814173,
 8.531683970711699,
 8.426107694153234,
 8.642760613294591,
 8.792032007572436,
 8.546326091425499,
 9.053109944153887,
 8.812965987432715,
 8.360349026763352,
 8.816867798574451,
 8.649061820607146,
 9.159287437012562,
 8.625507732967607,
 8.62171799134749,
 8.233125875781665,
 8.427182737233917,
 9.591376445416117,
 8.318988223193598,
 9.497596304467569,
 8.499717722295149,
 8.18232043171933,
 8.045302318697585,
 8.727325314196872,
 8.609466006981592,
 8.505024513196133,
 8.973933229597872,
 8.361211312022158,
 9.826442876542245,
 8.71042710806729,
 8.089440991750687,
 8.438622348566865,
 9.002070660343517,
 8.38791367678071,
 8.093813843532809,
 8.727679334790876,
 9.629929930581316,
 8.60537583229529,
 8.776519000957004,
 8.818018523050641,
 8.413821998829366,
 8.274047813969633,
 7.74654483927599,
 7.677308381465751,
 8.840845294055594,
 8.630967666128818,
 8.890313886730183,
 8.338279099110675,
 7.690341591386079,
 8.206596697300814,
 8.7678300445632,
 7.979704017850179,
 8.299136776708277,
 8.288031793539442,
 7.842844070224147,
 8.240660573216958,
 9.173121088273877,
 9.064848887941249,
 8.424447718694253,
 7.954842625023047,
 8.2438656666503,
 7.792718069361081,
 8.429397819132227,
 8.847301750197333,
 7.661457176545538,
 9.92547960669429,
 8.69288686649306,
 7.637109484669639,
 8.153136494735987,
 9.326884680761001,
 9.43954810581637,
 9.790218447415654,
 7.536004594868988,
 7.884065710594874,
 8.46377043219666,
 8.199410458462646,
 8.435874449658309,
 8.299938181244261,
 8.231495964649922,
 8.096208725523306,
 8.601057459146524,
 8.187402750846527,
 8.266557522841435,
 8.35937312535935,
 7.897446243538949,
 8.314695214391016,
 9.33605385743005,
 8.305418846354005,
 8.638475388619435,
 8.447596146615323,
 8.61039951901929,
 8.470708675519468,
 6.839368405560528,
 8.294966471361072,
 8.367510369465016,
 9.338785980336404,
 8.599893993362983,
 7.552306393385194,
 7.687933462522904,
 7.799035667324288,
 8.251333636148239,
 8.352310714224757,
 7.4180547271213015,
 8.061931559524846,
 8.289516467093748,
 8.565662530502415,
 8.002961135298822,
 8.134995963195097,
 7.908334027323045,
 7.550507088527667,
 7.7283460253474265,
 8.167903797991206,
 8.661833756810735,
 8.128543025749794,
 8.663470891971846,
 8.561777762751502,
 8.33791237228912,
 8.28064853654563,
 8.668018944197744,
 8.154984166388658,
 8.217785911059256,
 8.838429980255189,
 8.181799301477819,
 8.085568839855872,
 8.444142637019201,
 8.322990524021659,
 8.31404707108197,
 8.37655079912724,
 8.438891898188633,
 8.279303932108672,
 8.608979197533822,
 7.394875011526152,
 8.325138390314292,
 8.003549930066114,
 7.803828537615782,
 8.661699037717273,
 8.464318756399896,
 8.372269754546181,
 8.240928257827045,
 8.337581817205558,
 8.366507017793449,
 7.937600596502452,
 8.284455472037912,
 8.393348902975982,
 8.76586663369871,
 8.896797511049938,
 8.46083416554519,
 8.63841480579345,
 7.603793477163988,
 9.688245689351334,
 8.4018467743016,
 8.32217331282891,
 8.43580616551812,
 8.35192764367683,
 8.485880873552473,
 8.150232902135494,
 8.189488740076698,
 8.280944010430362,
 8.703052053378203,
 9.270913255549145,
 7.598405341008402,
 8.17539423958304,
 7.2293019101447555,
 8.352625437615684,
 8.254222438266522,
 8.535834631272333,
 8.346527894987384,
 7.434422223310494,
 7.989326430536288,
 7.745058950895476,
 8.250468298677578,
 8.605142353864832,
 8.431488768980893,
 8.493535111137868,
 8.384188585777105,
 8.353809613437454,
 8.258603400553074,
 7.984590863142922,
 8.27689041647893,
 7.783547646421422,
 8.442692393890212,
 8.390799067060264,
 8.512137562742007,
 8.817296014646567,
 8.2759617920997,
 8.17905036456473,
 8.48441644419001,
 7.7028367302063145,
 8.617454184845483,
 8.13339693936286,
 8.351003341560531,
 8.340832719495285,
 8.59708195091032,
 8.131743599755787,
 8.898944243887497,
 7.808544801282723,
 8.887308321237406,
 9.614001920142854,
 8.331852173732965,
 8.818448917320298,
 8.443466027919795,
 8.515309716844712,
 8.260108781982298,
 7.234484070656906,
 9.700630213889529,
 8.899725517689266,
 9.009092962910783,
 8.134006010377119,
 8.92694060801835,
 8.916007000101269,
 9.708470721586094,
 9.33067196154315,
 8.596204130089868,
 8.27804694198974,
 8.346726238463244,
 8.173283882064803,
 8.440145182585574,
 8.288711599051718,
 9.003079457940963,
 9.245372466154134,
 8.462609290185203,
 9.490509865175985,
 8.455862556460502,
 8.552403819507342,
 8.131352031471721,
 9.270733983008318,
 9.230493021823987,
 8.523368934615927,
 8.3591843835231,
 7.844361182955196,
 8.392597818226077,
 8.953350721412914,
 8.860977822811527,
 9.010866730918442,
 8.338660434262874,
 8.417560083559929,
 8.392685429815947,
 8.747526040429737,
 7.995274978372987,
 8.713921424155375,
 8.314969192583511,
 8.080701012838663,
 8.749999693283801,
 8.534375451316592,
 8.70265324898496,
 8.878713994082622,
 8.784461559214563,
 8.42507067457052,
 8.525412273962145,
 7.879919187051618,
 8.033262804646025,
 7.672625043692568,
 8.433853192149629,
 8.058677238075447,
 7.693362159782781,
 9.615247415335267,
 9.213845432873354,
 8.764796383214758,
 9.641889327497012,
 8.61030666495673,
 8.184417883169187,
 8.967294978924867,
 8.832915962769352,
 9.03918446138996,
 8.780292898100585,
 8.46502088068604,
 8.86400358043651,
 9.17032443466987,
 9.055480853393297,
 8.475060460783784,
 8.74324940812429,
 8.31231450455767,
 8.579526003990336,
 7.933305994640552,
 8.437184714347731,
 8.737834363647327,
 7.197625083403022,
 8.758251060925705,
 8.455272158414274,
 8.640716888993714,
 8.562731075068845,
 8.657745834391866,
 8.392597818226077,
 8.226207937837907,
 8.045755290885499,
 8.254593950826902,
 8.030157271195087,
 8.17668574346482,
 8.673293248277123,
 8.7757687637872,
 9.111603650258287,
 7.773150425620049,
 8.38152852047036,
 8.70984083040137,
 8.365165830071298,
 7.651996595259904,
 8.317438239122056,
 7.547865558708771,
 8.45039095528927,
 8.353206789253496,
 8.22385222748224,
 8.526640729906802,
 8.597861591352634,
 8.777877292494274,
 7.7611588927536,
 8.618105327775467,
 8.755740839805865,
 8.35871207016802,
 8.326064852619796,
 8.80116620058264,
 9.245209474257342,
 8.024061365914168,
 8.473024642891806,
 9.059576013908986,
 7.500922212930748,
 9.554184240464872,
 8.808431228419405,
 9.067705675821351,
 8.033959497985377,
 9.041595156586679,
 8.368837424085777,
 8.904795970514087,
 7.886568526762743,
 8.234865425574966,
 9.712385098734693,
 8.633683321291112,
 8.609935519941047,
 8.0934827246775,
 8.792463060990663,
 8.492511415045742,
 8.298677668310603,
 8.226399972710347,
 5.178588313100818,
 9.287564736031028,
 8.87850524701298,
 8.445532925404565,
 8.401107693154714,
 8.550201124718752,
 7.933166755253751,
 9.144561240037532,
 9.17093260488169,
 7.950993536039521,
 9.279370816579492,
 8.566910868556173,
 8.638572661473049,
 8.304860853738917,
 8.693309460060592,
 8.961627715016661,
 8.138259091437794,
 9.418991581314309,
 8.628839683946696,
 9.420478091497925,
 6.57487750523665,
 8.663828704177378,
 8.958434925339262,
 9.278566527392021,
 8.568440564936019,
 8.890942988221903,
 7.4514251638632585,
 9.12845284445158,
 9.076798686714083,
 9.049572672522313,
 8.215800774584096,
 9.086363116377932,
 8.86211576642717,
 8.948671085105078,
 9.435485513426245,
 9.199743276829738,
 8.621405032580938,
 8.545737423650095,
 9.593082894225994,
 8.832880483120553,
 9.258940333786885,
 8.474481337967026,
 9.94171028966048,
 8.517361291167052,
 9.058648894063191,
 9.751407429022953,
 8.401503337678006,
 8.57261484419718,
 9.600874776291182,
 8.823553120482188,
 9.243669770208522,
 8.660255133546784,
 9.350314199174955,
 8.24189255370192,
 8.621479736872903,
 7.774877618660947,
 8.876094107486857,
 9.07985106162096,
 9.198149659972312,
 6.994295333874346,
 8.340120055757485,
 8.202164448534628,
 8.645594301515446,
 8.792816935139673,
 8.191502574750201,
 9.245732113742609,
 8.265383014071505,
 8.834545344177783,
 8.623016194424997,
 9.668202664820273,
 8.979461760830084,
 8.981193841342181,
 8.658041153990197,
 8.392597818226077,
 8.082191085611061,
 7.734599329666715,
 9.126630655842344,
 8.2583264241227,
 9.015799082798951,
 8.18353547022429,
 8.420856112469126,
 8.422281059336132,
 8.213981213277409,
 8.816188858619247,
 8.112920047386364,
 9.200058630886074,
 8.760067390656767,
 8.465970328494198,
 8.476797425316331,
 8.487526436853024,
 9.012461397968826,
 8.432278062540338,
 8.187710654302466,
 8.387769654974113,
 8.730286836023817,
 8.856475352198725,
 8.591470570167532,
 8.058882033557909,
 8.502176901914101,
 8.619556245000691,
 8.854529031467681,
 8.187561638476032,
 7.58023510158106,
 8.730923851390138,
 8.34188674631766,
 7.5331066786084255,
 9.014688257834408,
 8.618740082883248,
 8.555064377678505,
 7.796457449930165,
 7.961047308781097,
 8.662136277244917,
 8.392597818226077,
 8.241329442944515,
 7.93552111932071,
 7.836314434795616,
 8.060955463281887,
 7.488201876604607,
 9.14928312488702,
 8.85730943315231,
 8.94945989715385,
 7.976693329186278,
 9.527106590265763,
 7.255142342523202,
 8.161043168990082,
 8.683994770107867,
 8.392597818226077,
 8.94648805049152,
 8.438158504593982,
 8.726478654099305,
 8.271061389171281,
 9.002838884844167,
 8.166462894351284,
 8.33026095912586,
 7.731186394035601,
 7.745030902743777,
 7.938076303375807,
 9.030256861655053,
 8.327404136722574,
 8.871512680883015,
 8.617649225044476,
 8.972786905444035,
 8.183176451797125,
 7.470364043286388,
 8.367609114584232,
 8.365554886905429,
 8.23193693578074,
 ...]

In [ ]:
# Rekomendasi untuk seorang user
recomToUser = pd.DataFrame({
                            'anime_id': anime,
                            'title':name,
                            'score': anime_score
                            }).sort_values(by='score', ascending=False)

recomToUser.head(20)

     anime_id                                              title     score
297      9969                                      Gintama&#039;  9.945739
895      6114                Rainbow: Nisha Rokubou no Shichinin  9.941710
376     15335  Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...  9.933015
586     11061                             Hunter x Hunter (2011)  9.925480
289      9253                                        Steins;Gate  9.861717
90      28891                            Haikyuu!! Second Season  9.835643
549      2904                 Code Geass: Hangyaku no Lelouch R2  9.826443
126       245                              Great Teacher Onizuka  9.818246
592     11981  Mahou Shoujo Madoka★Magica Movie 3: Hangyaku n...  9.790218
898      6675                                            Redline  9.751407
512     32182                                     Mob Psycho 100  9.748642
477     23273                            Shigatsu wa Kimi no Uso  9.718125
845        19                                            Monster  9.712385
731       431                                Howl no Ugoku Shiro  9.708471
378     15417                           Gintama&#039;: Enchousen  9.704624
725       164                                      Mononoke Hime  9.700630
65      19815                                    No Game No Life  9.695717
130       263                                     Hajime no Ippo  9.692924
670     30276                                      One Punch Man  9.688246
167       918                                            Gintama  9.679828